

.servicontent {
    height: 1000px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.servicontent h1, h3 {
    text-align: center;
}

.servicontent p {
    color: gray;
    text-align: justify;
    margin: 30px;
    letter-spacing: 0.7px;
}

.fonta {
    margin: 30px;
}

.servicskil {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px; 
}

.div6 {
    width: 290px;
    height: 400px;
    text-align: center;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 6px 10px rgba(0, 0, 0, 0.08);
}

.h1servic{
    font-size: 50px;
}
